.header {
  position: relative;
  display: block;
  margin: 0 auto;
  max-height: 590px;
  background-image: url('/static/images/bg-blue-anim-dark.svg');
  background-position: center top;
  background-repeat: repeat-x;
  background-size: 384px 592px;
  color: white;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  transform: translate3d(0, 0, 0);
  overflow: hidden;
}

.header .big-text {
  margin: 10px 0px 50px;
}

.header .big-text h2 {
  color: white;
  text-align: center;
  font: 300 40px/48px "ars-maquette-web","ARS Maquette Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.header .img-responsive {
  margin: 0 auto;
}

.header .header-end {
  background-color: #202833;
  height: 60px;
  width: auto;
}

#items-container {
  margin-top: 40px;
  width: 1200px;
}

#items-container .img-responsive {
  margin: 0 auto;
  outline: 2px solid grey;
  outline-offset: 15px;
  -webkit-box-shadow: 3px 3px 6px #7C7C7C;
  -moz-box-shadow: 3px 3px 6px #7C7C7C;
  box-shadow: 3px 3px 6px #7C7C7C;
}

.item-view {
  //border-top: 2px solid black;
  //border-bottom: 2px solid black;
  //background-image: url('/static/images/bg-triangles-black.svg');
  background-size: auto;
  color: black;
  padding: 10px;

  margin-bottom: 15px;
  background-color: white;
  border: solid 1px #CCC;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 200;
  line-height: 15.3999996185303px;
  height: 100px;
  text-align: center;
  border-radius: 4px;
  word-wrap: break-word;
}

.more-style {
  //width: 150px;
}

.percent-style {
  font-size: 50px;
}

.separater {
  background-color: #202833;
  height: 60px;
  width: auto;
}

.narrow-image {
  max-width: 650px;
}

.footer {
  margin-top: 50px;
  height: 300px;
  background-image: url('/static/images/bg-triangles-black.svg');
  background-position: center top;
  background-repeat: repeat-x;
  color: white;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  transform: translate3d(0, 0, 0);
  overflow: hidden;
}

.footer-text {
  margin-top: 150px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 27px;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  line-height: 15.3999996185303px;
  height: 100px;
  text-align: center;
  border-radius: 4px;
  word-wrap: break-word;
}

.header-text {
  margin-top: 6px;
  font-family: ars-maquette-web, 'ARS Maquette Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  height: 48px;
  line-height: 48px;
  height: 100px;
  text-align: center;
  border-radius: 4px;
  word-wrap: break-word;
}

